{% extends "base.html" %}
{% block content %}

<div class="login-container">
    <h2>Login</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <input name="username" placeholder="Username" type="text" required>
        <input name="password" placeholder="Password" type="password" required>
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="{% url 'doctor_signup' %}">Sign up for doctor</a><br>
                                 <a href="{% url 'patient_signup' %}">Sign up for patient</a>
        .</p>
</div>
{% endblock %}
